ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}