.profilePage {
    padding-top: 100px;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.userContent {
    display: inline-block;   
    height: 200px;
    width: 200px;
    background-color: red;
}

.userLabels {
    padding-top: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
}